CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
config.h
test/*.apacheclf
test/*.logstash
test/*.clfjson
test/*.squid
bin/*
*.o
*.swp
apacheclf2json
*.log
hiredis/
hiredis-prefix/
CTestTestfile.cmake
Testing/
*.a
